<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ecosed.kit">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FAKE_PACKAGE_SIGNATURE" />

    <application>
        <meta-data
            android:name="fake-signature"
            android:value="@string/fake_signature" />

        <!--        <activity-->
        <!--            android:name=".EcosedKitPlugin"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"-->
        <!--            android:label="EcosedKit"-->
        <!--            android:theme="@style/Theme.EcosedKitPlugin" />-->


        <service
            android:name=".EcosedKitPlugin"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="io.ecosed.kit.action" />
            </intent-filter>
        </service>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>
</manifest>